*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.processScreen{
  min-height: 40px;
  height: 40px;
}

.butConatiner{
  padding-right: 2px !important;
  padding-left: 2px !important;
  margin-top:-2em;
  cursor:pointer;
}

.bu{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  color:#fff;
  height:5em;
  cursor:pointer;
}

.equal{
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  height:5em;
  cursor:pointer;
}

.clean{
  background-color: #ffd400;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  height:5em;
  cursor:pointer;
}
